doctype html
head
  title Admin - palisade.io
  meta(charset=`utf-8`)
  meta(name=`viewport` content=`width=device-width, initial-scale=1`)
  link(rel=`stylesheet` type=`text/css` href=`/public/css/bootstrap.min.css`)
  link(rel=`stylesheet` type=`text/css` href=`/public/css/admin.css`)
  script(type=`text/javascript` src=`/public/js/jquery.min.js`)
  script(type=`text/javascript` src=`/public/js/popper.min.js`)
  script(type=`text/javascript` src=`/public/js/bootstrap.min.js`)
body
h1 palisade.io Server Address
  .form-group
    form.login-form.text-center(action=`/update/localip` method=`POST`)
      input.form-control(type=`text` name=`value` placeholder=`Value`)
      br
      button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit
br
h1 External DNS Resolver Address
  .form-group
      form.login-form.text-center(action=`/update/resolver` method=`POST`)
        input.form-control(type=`text` name=`value` placeholder=`Value`)
        br
        button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit
br
h1 API Key
  .form-group
      form.login-form.text-center(action=`/update/apikey` method=`POST`)
        input.form-control(type=`text` name=`value` placeholder=`Value`)
        br
        button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit
br
h1 DHCP Server Range Begin
  .form-group
      form.login-form.text-center(action=`/update/beginrange` method=`POST`)
        input.form-control(type=`text` name=`value` placeholder=`Value`)
        br
        button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit#
br
h1 DHCP Server Range End
  .form-group
      form.login-form.text-center(action=`/update/endrange` method=`POST`)
        input.form-control(type=`text` name=`value` placeholder=`Value`)
        br
        button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit
br
h1 DHCP Server Netmask
  .form-group
      form.login-form.text-center(action=`/update/netmask` method=`POST`)
        input.form-control(type=`text` name=`value` placeholder=`Value`)
        br
        button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit
br
h1 DHCP Server Broadcast Address
  .form-group
      form.login-form.text-center(action=`/update/broadcast` method=`POST`)
        input.form-control(type=`text` name=`value` placeholder=`Value`)
        br
        button#load.btn.btn-primary(type=`submit` data-loading-text="<i class=`fa fa-spinner fa-spin `></i> Logging in") Submit
script.
  $(`.btn`).on(`click`, function() {
  var $this = $(this);
  $this.button(`loading`);
  });
