@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto;
  background-color: #36393E;
}

.form-group {
  background-color: #36393E;
}

form {
  background-color: #36393E;
  padding-top: 25px;
  margin: 0 auto;
  width:250px;
}